body {
    width: 800px;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(to right,rgb(251, 250, 250),rgb(83, 185, 222));
  }
  .container {
    width: 600px;
    margin: 0 auto;
    text-align:center;
  }
  .heading{
     margin-top:160px;
  }
  fieldset {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 30px;
  }
  .input, p {
    display: block;
    font-weight:200;
    width: 100%;
    font-size: 20px;
    border:0px;
    outline: none;
    width: 100%;
    border-radius:50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: rgb(251, 250, 250);
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .input:focus {
    border-bottom:1px solid #ddd;
    border-radius:50px;
  }
  .button {
    font-size:20px;
    background-color:rgb(83, 185, 222);
    border:2px solid #ddd;
    border-radius:50px;
    padding:10px 30px;
    width: 100%;
    min-width: 350px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .button:hover {
    border:2px solid #515151;
  }
  p {
    background-color: transparent;
    color: rgb(8, 73, 97);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
  }